html {
    width: 100%; 
    height: 100vh; 
}

body {
    padding: 0; 
    margin: 0; 
    width: 100vw; 
}

td {
    text-align: center;
    width: 100vw;
    padding-bottom: 15px;
}

#affiliateBody {
    position: absolute;
    background-color: darksalmon; 
    border: 1px solid black; 
    box-sizing: border-box; 
    width: 100%;
    height: auto;
}

img {
    background-color: lemonchiffon;
}

.container .row .col-sm-4{
    width: 90vw;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#backBtn {
    background-color: #FF3333;
    border-bottom-color: #BA3333;
    border-left-color: #DB3333;
    border-right-color: #DB3388;
    border-top-color: #E83333;
    color: #aa0000;
    border-width: 3px;
    border-style: solid;
    font-family:"Arial Black";
    font-size:2.2em;
    -webkit-border-radius: 200px;
    -webkit-box-shadow: inset 0 0 5px 0 rgba(255,255,255,0.5);
}

#backBtn:active {
    color:#777;
    background-color: #FF7777;
	border:1px solid #999;
	/*{Shadow}*/
	box-shadow:inset 0 0 5px 0 #333;
	-moz-box-shadow:inset 0 0 5px 0 #333;
	-webkit-box-shadow:inset 0 1px 2px 0 #333, 0 1px 1px 0 #fff;
}