/*  */

html {
    width: 100vw; 
    height: 100vh;
}

body {
    background-image: url("../images/placeholder/1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0; 
    margin: 0; 
    width: 100vw; 
    height: 100vh; 
}

a {
    text-decoration: none;
}

td {
    text-align: center;
}

#mainBody {
    position: fixed; 
    width: 100vw; 
    height: 100vh;
}

#loginPageLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    height: 40vh;
    width: auto;
}

#clickAnywhereToStart {
    font-size: 6vh;
    font-family: verdana;
    text-align: center;
    background-color: limegreen;
    color: white;
}

#wholePageLink {
    position: absolute;
    height: 100vh;
    width: 100%;
}


#cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}

#loginScreen { 
    height:auto;
    width: 60vh;
    max-width: 90%;
    margin:0 auto;
    position:relative;
    z-index:10;
    display:none;
    background: url(login.png) no-repeat;
    border:5px solid lightblue;
    border-radius:10px;
    margin-top: 10px;
    background-color: lemonchiffon;
    color: darkolivegreen;
    font-family: verdana;
    font-size: 3.5vh;
}

.loginScreenButtons {
    background-color: #A4DB39;
    border-bottom-color: #64DB39;
    border-left-color: #A4DB39;
    border-right-color: #A49B39;
    border-top-color: #A4cB39;
    color: #81aB39;
    margin-left: 10px;
    margin-bottom: 3px;
    border-width: 3px;
    border-style: solid;
    font-family:"Arial Black";
    font-size:1.2em;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: inset 0 0 5px 0 rgba(255,255,255,0.5);
}

.loginScreenButtons:active {
    color:#777;
    background-color: #bbDB99;
	border:1px solid #999;
	/*{Shadow}*/
	box-shadow:inset 0 0 5px 0 #333;
	-moz-box-shadow:inset 0 0 5px 0 #333;
	-webkit-box-shadow:inset 0 1px 2px 0 #333, 0 1px 1px 0 #fff;
}

#passWord, #account {
    border-radius: 5vh;
    border: 2px solid #7F92FF;
    padding: 30px; 
    width: 30vh;
    height: 1vh;
    margin-left: 10px;
}

#passWord:focus, #account:focus {
background-color: lightblue;
}

#loginScreen:target, #loginScreen:target + #cover{ 
    display:block;
    opacity:2;
} 


.cancel { 
    display:block;
    position:absolute;
    top:3px; right:2px;
    background:rgb(245,245,245);
    color:black;
    height:30px;
    width:35px; 
    font-size:30px;
    text-decoration:none;
    text-align:center; font-weight:bold; 
}
