/*  */

html {
    width: 100vw; 
    height: 100vh; 
}

body {
    padding: 0; 
    margin: 0; 
    width: 100vw; 
    height: 100vh; 
}

td {
    text-align: center;
}

#runningContainer {
    position: fixed;
    background-color: darksalmon; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 47vh; 
    width: 100vw;
    margin-top: 20vh; 
}

#headerContainer {
    background-color: cadetblue; 
    border: 1px solid black; 
    box-sizing: border-box; 
    position: fixed; 
    height: 20vh; 
    width: 100vw; 
    top: 0; 
}

#bodyContainer {
    position: fixed;
    background-color: darksalmon; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 80vh; 
    width: 100vw;
    margin-top: 20vh; 
}

#indexContainer {
    position: fixed;
    background-color: darksalmon; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 100vh; 
    width: 100vw; 
    text-align: center;
}

#indexContainer p {
    margin-top: 20vh;
}

#indexContainer img {
    margin-top: 10vh;
}

#menuContainer {
    position: fixed;
    bottom: 0; 
    width: 100%; 
    height: 33vh; 
}

.menuBtn {
    background-color: aqua; 
    border: 1px solid black; 
    box-sizing: border-box; 
    display: block; 
    height: 50%;
    width: 100%;
    float: left; 
}

#btnBottom {
    width: 100vw;
}

#menuNewGame {
    display: block;
    margin: 0 auto;
    margin-top: 1vh;
}

#menuResume {
    display: block;
    margin: 0 auto;
    margin-top: 1vh;
}

#menuAffilitrated {
    margin-bottom: auto;
    display: block;
    margin: 0 auto;
    margin-top: 1vh;
}

#menuQuit {
    display: block;
    margin-left: auto;
    margin-top: 10vh;
    margin-right: 1vw;
}

#loginBtn {
    display: block;
    float: right;
    margin: 10px;
}

#createBtn {
    display: block;
    float: right;
    margin: 10px;
}

.button { 
    padding: 10px;   
} 

#cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}

#loginScreen { 
    height:380px;
    width:340px;
    margin:0 auto;
    position:relative;
    z-index:10;
    display:none;
    background: url(login.png) no-repeat;
    border:5px solid #cccccc;
    border-radius:10px;
    margin-top: 10px;
    background-color: white;
} 

#loginScreen:target, #loginScreen:target + #cover{ 
    display:block;
    opacity:2;
} 

#accountScreen {
    height:380px;
    width:340px;
    margin:0 auto;
    position:relative;
    z-index:10;
    display:none;
    background: url(login.png) no-repeat;
    border:5px solid #cccccc;
    border-radius:10px;
    margin-top: 10px;
    background-color: white;
}

#accountScreen:target, #accountScreen:target + #cover{ 
    display:block;
    opacity:2;
} 

.cancel { 
    display:block;
    position:absolute;
    top:3px; right:2px;
    background:rgb(245,245,245);
    color:black;
    height:30px;
    width:35px; 
    font-size:30px;
    text-decoration:none;
    text-align:center; font-weight:bold; 
}