html {
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

body {
    padding: 0; 
    margin: 0; 
    width: 100%; 
    height: 100%; 
    overflow-y: hidden;
    font-family: verdana;
    font-size: 3.5vh;
}

a {
    text-decoration: none;
}

#divLevelArea {
    background-color: black; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 67.1%; 
}

#canvasLevelArea {
    width: 100%; 
    height: 100%; 
}

#divPauseButton {
    background-color: white;
    background-image: url(../images/pause.png);
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    position: absolute; 
    height: 60px; 
    width: 60px; 
    margin: 0 auto; 
    right: 0;
    border-radius: 2vh;
}

#divDialogue {
    position: absolute; 
    background-color: skyblue;  
    border: 1px solid black; 
    box-sizing: border-box; 
    height: auto; 
    width: 50%; 
    top: 0; 
    margin: 0 auto; 
    left: 0; 
    right: 0; 
}

#divQuestion {
    position: absolute; 
    background-color: cadetblue; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: auto; 
    width: 50%; 
    top: 0; 
    margin: 0 auto; 
    left: 0; 
    right: 0; 
}

#divCombatButtons {
    position: fixed;
    bottom: 0; 
    width: 100%; 
    height: 33%;     
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
}

#divAnswerButtons {
    position: fixed;
    bottom: 0; 
    width: 100%; 
    height: 33%; 
    min-height: 33%; 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
}

.classCombatButton {
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 50%;    
}

#divCombatButton1{
    background-image: url(../images/eatButton.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    background-color: #EEEE33; 
}

#divCombatButton1:active{
    background-image: url(../images/eatButtonActive.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; 
}

#divCombatButton2 {
    background-image: url(../images/skillButton.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    background-color: #EEEE33;
}

#divCombatButton2:active {
    background-image: url(../images/skillButtonActive.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#divCombatButton3{
    width: 33%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
        background-color: #EEEE33; 
}

#divCombatButton5 {
    width: 33%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
        background-color: #EEEE33; 
}

#divCombatButton4 {
    width: 34%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
        background-color: #EEEE33;
}

.classAnswer {
    background-color: lightblue; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 50%;
    width: 50%;
}

.classAnswerEliminated {
    background-color: grey; 
}

.classAnswerCorrect {
    background-color: limegreen; 

}

#cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}

#divPauseScreen, #divGameOver, #divLevelComplete { 
    font-family: vedana;
    font-size: 6.5vh;
    height:50%;
    width:50%;
    margin:auto;
    position:absolute;
    z-index:10;
    display:none;
    border:5px solid #cccccc;
    border-radius:10px;
    background-color: white;
    opacity: 0.9;
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0;
} 

#divPauseResume {
    background-color: chartreuse; 
}

#divPauseExit, #divGameOverExit, #divLevelCompleteExit {
    background-color: cyan; 
}

#divPauseRestart. #divGameOverRestart {
    background-color: dodgerblue;  
}

#divLevelCompleteNextLevel {
    background-color: darkgoldenrod;
}

#divCooldownOverlay {
    display: none; 
    width: 100%; 
    height: 100%; 
    float: left; 
    background-color: black; 
    opacity: 0.7; 
}

.classItem {
    display: none; 
    padding: 0; 
    margin: auto; 
}