html {
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

body {
    padding: 0; 
    margin: 0; 
    width: 100%; 
    height: 100%; 
    overflow-y: hidden; 
}

#divLevelArea {
    background-color: black; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 67.1%; 
}

#canvasLevelArea {
    width: 100%; 
    height: 100%; 
}

#divPauseButton {
    background-color: darkred; 
    position: absolute; 
    height: 60px; 
    width: 60px; 
    margin: 0 auto; 
    right: 0; 
}

#divDialogue {
    position: absolute; 
    background-color: darkolivegreen;  
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 20%; 
    width: 50%; 
    top: 0; 
    margin: 0 auto; 
    left: 0; 
    right: 0; 
}

#divQuestion {
    position: absolute; 
    background-color: cadetblue; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 20%; 
    width: 50%; 
    top: 0; 
    margin: 0 auto; 
    left: 0; 
    right: 0; 
}

#divCombatButtons {
    position: fixed;
    bottom: 0; 
    width: 100%; 
    height: 33%;     
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
}

#divAnswerButtons {
    position: fixed;
    bottom: 0; 
    width: 100%; 
    height: 33%; 
    min-height: 33%; 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
}

.classCombatButton {
    background-color: forestgreen; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 50%;    
}

#divCombatButton1, #divCombatButton2 {
    width: 50%; 
}

#divCombatButton3, #divCombatButton5 {
    width: 33%; 
}

#divCombatButton4 {
    width: 34%; 
}

.classAnswer {
    background-color: aqua; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 50%;
    width: 50%;
}

.classAnswerEliminated {
    background-color: grey; 
}

.classAnswerCorrect {
    background-color: green; 
}

#cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}

#divPauseScreen { 
    height:50%;
    width:50%;
    margin:auto;
    position:absolute;
    z-index:10;
    display:none;
    background: url(login.png) no-repeat;
    border:5px solid #cccccc;
    border-radius:10px;
    background-color: white;
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0;
} 

#divPauseResume {
    background-color: chartreuse; 
}

#divExit {
    background-color: cyan; 
}

#divPauseRestart {
    background-color: dodgerblue;  
}