/*  */

html {
    width: 100vw; 
    height: 100vh; 
}

body {
    padding: 0; 
    margin: 0; 
    width: 100vw; 
    height: 100vh; 
}

td {
    text-align: center;
}

#headerContainer {
    background-color: cadetblue; 
    border: 1px solid black; 
    box-sizing: border-box; 
    position: fixed; 
    height: 20vh; 
    width: 100vw; 
    top: 0; 
}

#bodyContainer {
    position:fixed;
    margin-left: 10vw;
    background-color: darksalmon; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 55vh; 
    width: 80vw;
    margin-top: 20vh; 
}

#leftContainer {
    position:fixed;
    float: right;
    background-color: darksalmon; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 55vh; 
    width: 10vw;
    margin-top: 20vh; 
}

#rightContainer {
    position:fixed;
    float: left;
    margin-left: 90vw;
    background-color: darksalmon; 
    border: 1px solid black; 
    box-sizing: border-box; 
    height: 55vh; 
    width: 10vw;
    margin-top: 20vh; 
}

#footerContainer {
    position: fixed;
    bottom: 0; 
    width: 100%; 
}

.selectBtn {
    background-color: aqua; 
    border: 1px solid black; 
    box-sizing: border-box; 
    display: block; 
    height: 25vh;
    width: 100%;
    float: left; 
}

#selectBtn {
    display: block;
    margin: 0 auto;
    margin-top: 1vh;
}

#backBtn {
    display: block;
    float: left;
    margin: 10px;
}

.sideBtn {
    display: block;
    float: right;
    margin: 10px;
    margin-top: 24.5vh;
}

.button { 
    padding: 10px;   
} 